<section class="mat-typography">
    <div class="header">
        <h1>About Us</h1>
        <h3>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam,
            beatae?
        </h3>
    </div>
    <div>
        <p class="about-us">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
            blanditiis a, quis ad quae cupiditate mollitia beatae numquam sint
            nisi officiis placeat et provident distinctio vitae dolorum aperiam
            asperiores. Officia, voluptatibus maiores! Cumque maxime nobis
            obcaecati sint blanditiis, explicabo rerum corrupti, ad praesentium
            temporibus expedita deserunt, nulla qui porro aut!
        </p>
    </div>
</section>
