main {
    display: grid;
    place-items: center;
    height: 80vh;
}

.order-wrapper {
    margin: 0 auto;
    width: 50%;
    padding: 2rem;
    border-radius: 0.2rem;

    .message {
        color: rgb(0 0 0 / 0.8);
        margin-bottom: 1rem;
    }

    .order-id {
        font-weight: 500;
        color: dodgerblue;
    }

    button {
        margin-top: 1rem;
    }
}
